module(
    name = "rules_wpi_styleguide",
    version = "1.0.0",
)

{{mandatory_dependencies.rules_pmd.module_dep()}}
{{mandatory_dependencies.rules_checkstyle.module_dep()}}
{{mandatory_dependencies.rules_wpiformat.module_dep()}}
{{mandatory_dependencies.rules_spotless.module_dep()}}
