module(
    name = "{{container.repo_name}}",
    version = "{{container.sanitized_version}}{{container.patch}}",
)

{{mandatory_dependencies.rules_pmd.module_dep()}}
{{mandatory_dependencies.rules_checkstyle.module_dep()}}
{{mandatory_dependencies.rules_wpiformat.module_dep()}}
{{mandatory_dependencies.rules_spotless.module_dep()}}
